.__repost_warning:hover > article {
    background-color: rgba(255, 100, 100, 0.15) !important;
}

.__repost_warning [data-testid='retweet'] svg {
    fill: red;
}

.__repost_warning [data-testid='retweet'] > div > div {
    color: red !important;
}

.__repost_warning [data-testid='retweet'] > div:hover > div:first-child > div {
    background-color: rgba(255, 0, 0, 0.15) !important;
}