@import 'variables';
@import 'styles';

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#popup {
    width: 240px;
    margin: 24px 16px;
    box-sizing: border-box;
    background-color: $background-color-primary;
    color: $text-color-primary;

    &>*:not(:first-child), &>main>*:not(:first-child) {
        margin-top: 24px;
    }
}

#logo {
    width: 24px;
    height: 24px;
}

#logo2 {
    width: 24px;
    height: 24px;
    display: flex;
    flex-wrap: wrap;

    background-color: $background-color-secondary;

    .part {
        width: 12px;
        height: 12px;

        &:first-child, &:last-child {
            background-color: $background-color-inset;
        }
    }
}

#description {
    font-size: 12px;
    background-color: $background-color-secondary;
    color: transparent;

    &:hover {
        color: $text-color-secondary;
        background-color: transparent;
    }
}

#author {
    &-name {
        font-size: 14px;
        color: $text-color-primary;
        font-weight: bold;
    }

    &-id {
        font-size: 12px;
        color: $text-color-secondary;
    }
}

#message {
    font-size: 12px;
    color: $text-color-primary;

    .message-title {
        font-weight: bold;
    }

    #message-allowed {
        display: none;
        .message-text {
            color: $text-color-secondary;
        }
    }

    #message-disallowed {
        display: none;
        color: $text-color-danger;
    }

    #user-action {
        display: none;
        padding-top: 16px;
        color: $text-color-danger;

        & > * {
            display: none;
        }
    }

}

#action {
    & > button {
        width: 100%;
        height: 32px;
        display: flex;
        justify-content: center;
        font-size: 12px;
        cursor: pointer;
        font-weight: bold;
        outline: none;
    }

    #action-censore {
        border: 3px solid $background-color-accent;
        background-color: $background-color-primary;
        color: $text-color-accent;

        display: none;
    }

    #action-uncensore {
        border: none;
        background-color: $background-color-danger;
        color: $text-color-danger-inverse;

        display: none;
    }

    #uncensore-confirmation {
        background-color: $background-color-danger;
        color: $text-color-danger-inverse;
        padding: 12px;
        font-size: 12px;

        display: none;

        &-title {
            font-weight: bold;
        }

        &-text {
            padding: 12px 0;
        }

        &-actions {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 12px;

            button {
                cursor: pointer;
                border: none;
                outline: none;
                height: 32px;
                text-align: center;
            }
        }

        &-yes {
            background-color: $background-color-dark-red;
            color: $text-color-danger-inverse;
        }

        &-no {
            background-color: $background-color-light-red;
            color: $text-color-primary;
        }
    }

    #action-uncensore.confirm {
        display: none;

        & + #uncensore-confirmation {
            display: block;
        }
    }
}

#popup {
    &.censored {
        #message-disallowed {
            display: block;
        }

        #user-censored-action {
            display: block;
        };

        #action-uncensore:not(.confirm) {
            display: block;
        }
    }

    &.uncensored {
        #message-allowed {
            display: block;
        }

        #user-uncensored-action {
            display: block;
        };

        #action-censore {
            display: block;
        }

        &.by-user {
            #message-allowed {
                display: none;
            }
            #message-disallowed {
                text-decoration: line-through;
                display: block;
            }
            
            #action-censore {
                border: 3px solid $background-color-danger;
                background-color: $background-color-primary;
                color: $text-color-danger;
            }
        }
    }

    &.by-user {
        #user-action {
            display: block;
        }
    }
}

#feedback {
    margin-top: 24px;

    a {
        display: block;
        text-align: center;
        font-size: 8px;
        color: $text-color-secondary;
        text-decoration: underline;
    }
}