// paddings

.p-0 {
    padding: 0;
}

.px-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.py-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.py-24 {
    padding-top: 24px;
    padding-bottom: 24px;
}


// margins

.m-0 {
    margin: 0;
}

.mr-8 {
    margin-right: 8px;
}

.mx-16 {
    margin-left: 16px;
    margin-right: 16px;
}

.my-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.my-24 {
    margin-top: 24px;
    margin-bottom: 24px;
}

// font

.f-16 {
    font-size: 16px;
}

.bold {
    font-weight: bold;
}

//flex

.d-flex {
    display: flex;
}

.f-center-y {
    align-items: center;
}