
$text-color-primary: #000;
$text-color-secondary: #5B5B66;

$text-color-accent: #0060DF;
$text-color-accent-inverse: #FFF;

$text-color-danger: #C50042;
$text-color-danger-inverse: #FFF;

$background-color-primary: #FFF;
$background-color-secondary: #E0E0E6;
$background-color-inset: #CFCFD8;

$background-color-accent: #0060DF;
$background-color-danger: #C50042;

$background-color-dark-red: #810220;
$background-color-light-red: #FFDFE7;